// Place all the styles related to the Api::MusicSearches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.MusicSearch {
  align-items: center;
}

.MusicSearch > input {
  font-size: 14px;
  font-family: sans-serif;
  padding: 8px;
  border-radius: 5px;
  border-style: solid;
  border-color: #C0C0C0;
  width: 225px;
}

.SearchIndex > ul > * {
  list-style-type: none;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  width: 250px;
  cursor: pointer;
  display: inline-block;
}

.SearchIndex > ul > *:nth-child(2n) {
  background-color: rgb(175, 175, 175);
}

.SearchIndex > ul > *:nth-child(2n+1) {
  background-color: rgb(200, 200, 200);
}
