// Place all the styles related to the Api::MusicSearches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.MusicSearch {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: #c4defd;
  background-color: white;
}

.MusicSearch > input {
  font-size: 14px;
  font-family: sans-serif;
  padding: 8px;
  border-radius: 5px;
  border-style: solid;
  border-color: #C0C0C0;
  width: 400px;
  margin: 0px 0px 10px 0px;
  box-sizing: border-box;
}

.SearchIndex > ul {
  padding: 0;
}

.Header {
  background-color: rgb(175, 175, 175);
  border-bottom: 3px solid black;
}

.SearchIndex > ul > * {
  list-style-type: none;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  width: 400px;
  cursor: pointer;
  display: inline-block;
  background-color: white;
}

.SearchIndex > ul > *:nth-child(2n):not(.Header) {
  // background-color: rgb(175, 175, 175);
  background-color: white;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
}

.SearchIndex > ul > *:nth-child(2n+1):not(.Header) {
  // background-color: rgb(200, 200, 200);
  background-color: white;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
}

.SearchIndex {
  position: absolute;
  // top: 138px;
  top: 168px;
  margin: 0;
  padding: 0;
  width: 400px;
  background-color: white;
}

.SearchIndex > ul:first-child {
  margin-top: 0px;
}

.MusicSearchArt {
  display: flex;
  justify-content: space-around;
  margin: 10px 0px 10px 0px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  width: 400px;
  box-sizing: border-box;
}

.MusicSearchArt > div > p {
  margin: 0px 0px 0px 5px;
  font-size: 14px;
}

.MusicSearchArt > div {
  display: flex;
  align-items: center;
}

.fa-i-cursor {
  font-size: 13px;
}

.Highlight {
  background-color: rgb(184,214,251);
}
