// Place all the styles related to the API::Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.SessionButtons {
  display: flex;
  width: 210px;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.SessionButtons > img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

.SessionButtons > a {
  padding: 6px 16px;
  color: white;
  width: 64px;
  text-align: center;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 25px;
  cursor: pointer;
}

.SessionButtons > a:hover {
  background-color: #0258B1;
}

.SessionFormDiv {
  // https://stackoverflow.com/questions/779434/how-do-i-prevent-the-padding-property-from-changing-width-or-height-in-css
  // Credit the following three lines to the SO overaticle found in the link above
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #E9EBEE;
  background-image: url('https://github.com/ajansel/vibes/blob/master/my_non_rails_files/wesley-tingey-223059.jpg?raw=true');
  background-size: cover;
  height: 600px;
}

.WelcomeMessage {
  color: white;
  width: 350px;
  text-align: center;
  margin-top: 100px;
}

.WelcomeMessage > p {
  font-size: 24px;
}

.SessionForm {
  width: 350px;
  margin-top: 100px;
}

.SessionForm > label > input {
  font-size: 18px;
  font-family: sans-serif;
  padding: 8px;
  border-radius: 5px;
  border-style: solid;
  border-color: #C0C0C0;
}

.SessionForm h1, .SessionFormDiv h1 {
  color: white;
  font-size: 36px;
}

.SessionFormSubmit {
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  padding: 6px 16px;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  background-color: #3396ff;

}

.SessionFormSubmit:hover {
  background-color: #0258B1;
  border-color: #0258B1;
}

.ErrorsList > li {
  color: white;
  font-size: 18px;
}
