// Place all the styles related to the API::User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.UserSearch {
  text-align: center;
}

.UserSearch > input {
  font-size: 14px;
  font-family: sans-serif;
  padding: 8px;
  border-radius: 5px;
  border-style: solid;
  border-color: #C0C0C0;
  width: 400px;
  text-align: center;
  box-sizing: border-box;
}

.UserSearch > input:focus {
  outline: 0;
}

.UserSearchIndex > li {
  list-style-type: none;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  width: 400px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #C0C0C0;
}

.UserSearchImgAnchor {
  align-items: center;
  height: 40px;
}

// .UserSearchIndex > *:nth-child(2n) {
//   background-color: rgb(175, 175, 175);
// }
//
// .UserSearchIndex > *:nth-child(2n+1) {
//   background-color: rgb(200, 200, 200);
// }

// .UserSearchIndex > li > button {
.FollowButton-US {
  margin-left: 10px;
  padding: 3px 8px;
  color: white;
  width: 70px;
  background-color: #3396ff;
  text-align: center;
  text-decoration: none;
  border: 2px solid #3396ff;
  border-radius: 25px;
  cursor: pointer;
}

// .UserSearchIndex > li > button {
.UnfollowButton-US {
  margin-left: 10px;
  padding: 3px 8px;
  color: #3396ff;
  width: 70px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  border: 2px solid #3396ff;
  border-radius: 25px;
  cursor: pointer;
}

.FollowButton-US:focus, .UnfollowButton-US:focus {
  outline: 0;
}

.UserSearchIndex > li > button:hover {
  background-color: #0258B1;
  border-color: #0258B1
}

.UserSearchIndex > li > a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  margin-left: 10px;
  align-content: center;
}

.UserSearchIndex > li > a > p {
  margin: 0;
  text-align: left;
  width: 165px;
}

.UserSearchIndex > li > a > p:first-child {
  margin: 0 0 5px 0;
}

// .UserSearchIndex > li > * {
//   align-content: center;
// }

.UserSearchIndex {
  position: absolute;
  margin: 0;
  padding: 0;
}

.UserSearchIndex > li > a > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
