.Dashboard {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.UserWidget, .BonusWidget {
  width: 200px;
  height: 265px;
}

.SearchAndFeed {
  width: 500px;
}

.Dashboard > .UserWidget, .Dashboard > .BonusWidget {
  border: 1px solid black;
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
}

.MusicSearch, .Feed {
  border: 1px solid black;
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
}

.MusicSearch {
  margin-bottom: 10px;
}

.DashboardPic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 0px;
}

.Name, .Username {
  margin: 10px 0 0 0;
  font-size: 18px;
}

.Stats, .StatHeaders {
  display: flex;
  justify-content: space-around;
  margin: 0 3px;
}

.Stats > p, .StatHeaders > p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.SuggestedAlbumPic {
  margin: 10px 0 0 0;
  width: 80px;
  height: 80px;
}

.SuggestedAlbumTitle, .SuggestedAlbumArtist {
  margin: 10px 0 0 0;
  font-size: 16px;
}

.SuggestedAlbum {
  margin: 5px 0 0 0;
  font-size: 18px;
}

.FollowButton {
  margin-top: 10px;
  margin-right: 5px;
  padding: 6px 16px;
  color: white;
  background-color: #3396ff;
  text-align: center;
  text-decoration: none;
  border: 2px solid #3396ff;
  border-radius: 25px;
  cursor: pointer;
}

.FollowButton:hover {
  background-color: #0258B1;
  border-color: #0258B1
}
