.Dashboard {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.UserWidget, .BonusWidget {
  width: 200px;
  min-height: 285px;
  position: fixed;
  top: 85px;
  overflow: auto;
}

.UserWidget {
  left: calc((100vw - 1024px)/2);
}

.BonusWidget {
  right: calc((100vw - 1024px)/2);
}

.SearchAndFeed {
  width: 600px;
}

.UserWidget > a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.UserWidget > p {
  text-transform: capitalize;
}

.Dashboard > .UserWidget, .Dashboard > .BonusWidget {
  /*border: 1px solid black;*/
  background-color: white;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.MusicSearchDiv {
  /*border: 1px solid black;*/
  box-sizing: border-box;
  padding: 5px 5px 10px 5px;
  padding-top: 0px;
  text-align: center;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Feed {
  /*border: 1px solid black;*/
  /*background: white;*/
  box-sizing: border-box;
  padding: 0px 5px 5px 5px;
  text-align: center;
}

.DashboardPic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 0px;
  margin-top: 5px;
}

.Name, .Username {
  margin: 10px 0 0 0;
  font-size: 18px;
}

.Stats {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.StatHeaders {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
}

.Stats > p:first-child, .StatHeaders > p:first-child {
  width: 40px;
}

.Stats > p, .StatHeaders > p {
  width: 70px;
  margin: 10px 0 0 0;
  font-size: 14px;
}

.SuggestedAlbumPic {
  margin: 10px 0 0 0;
  width: 100px;
  height: 100px;
}

.SuggestedAlbumTitle, .SuggestedAlbumArtist {
  margin: 10px 0 0 0;
}

.SuggestedAlbumTitle {
  font-size: 16px;
  font-weight: bold;
}

.SuggestedAlbumArtist {
  font-size: 14px;
}

.SuggestedAlbum {
  margin: 0 0 0 0;
  font-size: 18px;
  font-weight: bold;
}

.FollowButton-DB {
  margin-top: 10px;
  margin-right: 5px;
  padding: 6px 16px;
  color: white;
  background-color: #3396ff;
  text-align: center;
  text-decoration: none;
  border: 2px solid #3396ff;
  border-radius: 25px;
  cursor: pointer;
  width: 86px;
}

.UnfollowButton-DB {
  margin-top: 10px;
  margin-right: 5px;
  padding: 6px 16px;
  color: #3396ff;
  background-color: white;
  text-align: center;
  text-decoration: none;
  border: 2px solid #3396ff;
  border-radius: 25px;
  cursor: pointer;
  width: 86px;
}

.FollowButton-DB:hover, .UnfollowButton-DB:hover {
  background-color: #0258B1;
  border-color: #0258B1
}

.FollowButton-DB:focus, .UnfollowButton-DB:focus {
  outline: 0;
}
