.Dashboard {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.UserWidget, .BonusWidget {
  width: 200px;
}

.SearchAndFeed {
  width: 500px;
}

.Dashboard > .UserWidget, .Dashboard > .BonusWidget {
  border: 1px solid black;
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
}

.MusicSearch, .Feed {
  border: 1px solid black;
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
}

.MusicSearch {
  margin-bottom: 10px;
}

.DashboardPic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 0px;
}

.Name, .Username {
  margin: 5px 0 0 0;
  font-size: 18px;
}

.Stats, .StatHeaders {
  display: flex;
  justify-content: space-around;
  margin: 0 3px;
}

.Stats > p, .StatHeaders > p {
  margin: 5px 0 0 0;
  font-size: 14px;
}

.SuggestedAlbumPic {
  margin: 5px 0 0 0;
  width: 80px;
  height: 80px;
}

.SuggestedAlbumTitle, .SuggestedAlbumArtist, .SuggestedAlbum {
  margin: 5px 0 0 0;
  font-size: 16px;
}

.SuggestedAlbum {
  font-size: 18px;
}
