.FeedItem {
  display: flex;
  justify-content: flex-start;
  /*border: 1px solid black;*/
  background-color: white;
  margin-bottom: 5px;
  box-sizing: border-box;
  padding: 10px;
}

.UserInfoAndPostBody {
  margin-left: 15px;
}

.PostBody > div {
  margin-bottom: 1px;
}

.UserPic {
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
  height: 40px;
  /*margin-left: 10px;*/
}

.UserPic > a > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 0px;
}

.UsernameAndName {}

.UsernameAndName > a > p{
  margin: 0;
  text-align: left;
  font-size: 14px;
  margin-bottom: 10px;
  color: black;
  text-transform: capitalize;
  height: 20px;
}

.UsernameAndName > a {
  text-decoration: none;
}

.PostBody {
  text-align: left;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
}

.LikeButton {
  height: 14px;
  width: 15px;
  padding: 0px;
  margin-right: 10px;
  color: white;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  border: 0px;
  border-radius: 25px;
  cursor: pointer;
}

.LikeButton:focus {
  outline: 0;
}

.LikeContent {
  text-align: left;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.LikeContent > p {
  margin: 0px;
  height: 17px;
}

.red {
  color: red;
}

.border {
  color: black;
}
