.FeedItem {
  display: flex;
  justify-content: flex-start;
  border: 1px solid black;
  margin-bottom: 5px;
  box-sizing: border-box;
  padding: 5px;
}

.UserInfoAndPostBody {
  margin-left: 5px;
}

.UserPic > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 0px;
}

.UsernameAndName > p{
  margin: 0;
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
}

.PostBody {
  text-align: left;
  font-size: 18px;
}
