.FeedItem {
  display: flex;
  justify-content: flex-start;
  /*border: 1px solid black;*/
  background-color: white;
  margin-bottom: 5px;
  box-sizing: border-box;
  padding: 5px;
}

.UserInfoAndPostBody {
  margin-left: 20px;
}

.PostBody > div {
  margin-bottom: 1px;
}

.UserPic > a > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 0px;
}

.UsernameAndName > a > p{
  margin: 0;
  text-align: left;
  font-size: 14px;
  margin-bottom: 10px;
}

.PostBody {
  text-align: left;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
}

.LikeButton {
  padding: 1px;
  color: white;
  background-color: transparent;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 25px;
  cursor: pointer;
}

.LikeContent {
  text-align: left;
  font-size: 14px;
}

.red {
  color: red;
}

.border {
  color: black;
}
