.Homepage {
  display: flex;
  justify-content: center;
  height: 100%;
  opacity: 50%
}

.EntirePageContainer {
  height: calc(100vh - 75px);
  background-image: url('https://github.com/ajansel/vibes/blob/master/my_non_rails_files/splash_pictures/headphones-2588056_1920.jpg?raw=true');
  background-size: cover;
  background-position: center bottom;
}

.Intro {
  width: 500px;
  text-align: center;
  color: white;
  height: 300px;
}

.Intro > h1 {
  font-size: 36px;
}

.Intro > p {
  font-size: 24px;
  font-weight: bold;
}

.SignupButtons {
  width: 252px;
  display: flex;
  justify-content: space-between;
  margin-left: 124px;
}

.DemoButton-HP {
  background-color: #4c4c4c;
  border: 2px solid #4c4c4c;
}

.SignupButtons > a:first-child {
  background-color: #3396ff;
  border: 2px solid #3396ff;
}

.SignupButtons > a {
  padding: 6px 16px;
  color: white;
  width: 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  cursor: pointer;
}


.SignupButtons > a:hover {
  background-color: #0258B1;
  border-color: #0258B1;
}
