.PostForm > label > textarea {
  font-size: 16px;
  font-family: sans-serif;
  padding: 8px;
  border-radius: 5px;
  border-style: solid;
  border-color: #C0C0C0;
  width: 500px;
  height: 75px;
  box-sizing: border-box;
}

.UserInfo > a > img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-bottom: 0px;
}

.UserInfo {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.UserNames > a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.UserNames > a > p {
  margin: 0;
}

.UserNames {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
}

.PostPost, .DeletePost {
  padding: 3px;
  color: white;
  background-color: #3396ff;
  width: 80px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #3396ff;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
}

.PostPost {
  margin-right: 10px;
}

.PostPost:hover, .DeletePost:hover {
  background-color: #0258B1;
  border-color: #0258B1;
}

.Lyrics {
  overflow-y: auto;
  margin-top: 20px;
}

.Songs {
  margin: 0px;
}

.Songs > li{
  /*This is for formatting the songs on Artist or Album modal*/
  box-sizing: border-box;
  font-size: 18px;
  padding: 1px;
}

.ArtistForm > p, .AlbumForm > p {
  font-size: 16px;
  margin: 0 0 5px 0;
}

.UserInfoAndYouTube {
  display: flex;
  justify-content: space-between;
}
