.PostForm > label > textarea {
  font-size: 16px;
  font-family: sans-serif;
  padding: 8px;
  border-radius: 5px;
  border-style: solid;
  border-color: #C0C0C0;
  width: 400px;
  height: 75px;
}

.UserInfo > a > img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-bottom: 0px;
}

.UserInfo {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.UserNames > a > p {
  margin: 0;
}

.PostPost, .DeletePost {
  padding: 3px;
  color: white;
  background-color: #3396ff;
  width: 70px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #3396ff;
  border-radius: 25px;
  cursor: pointer;
}

.PostPost {
  margin-right: 5px;
}

.Lyrics {
  overflow-y: auto;
}

.Songs {
  margin: 0px;
}

.Songs > li{
  /*This is for formatting the songs on Artist or Album modal*/
  box-sizing: border-box;
  font-size: 18px;
  padding: 1px;
}

.ArtistForm > p, .AlbumForm > p {
  font-size: 16px;
  margin: 0 0 5px 0;
}
